anon_ftp/
cgi-bin/
/conf/
cache/
error_docs/
httpdocs/uploads
httpsdocs/
pd/
private/
statistics/
subdomains/
tmp/
web_users/
subdomains
/tmp
web_users
*.pyc
*~
.svn
.DS_Store
.hg
/nbproject/
/ff_session/
/httpdocs/media/images/
/httpdocs/media/uploads/projects/
/httpdocs/media/uploads/shares/
/tracker_logs/
/.idea
